body {
 /*background-image: url(./star_picture2/star_picture/background-07.png);
  background-size:1128.35px 727px; /*69em 46em 1128.35 727px
  background-position:200px -6px;/*50% 1% 200px -6px
  background-repeat:no-repeat;*/
  background-color: black;
  /*overflow:hidden;*/
  /*position:relative;*/
    }

#background{
  position:relative;
  top:0px;
  left:0px/*10%*/;
  background-image: url(./star_picture2/star_picture/background-07.png);
  background-size: 100%;
  /*height:727px;
  width:1028.35px;*/
  aspect-ratio: 16/9;
  background-repeat:no-repeat;
}
/*
.b{
	max-width:100%;
    max-height:100%;
	height:100%;
	width:100%;
}*/

.home{
  /*background-position:50% 0%;*/
  position:absolute;/*fixed*/
  top:415px;/*415px 58%*/
  left:40px;/*40px 17%*/ /*10%*/
  background-image: url(./star_picture2/star_picture/Zodiac.png);
  background-size: 65%;
  height:35em;/*35em*/
  width:35em;/*35em*/
  background-repeat:no-repeat;
}


/*
.home {
  color:white;
  font-family:Cambria Math;
  text-shadow: 0px 0px 7px white;
}
.home .home_title{
  font-size:94px;
  position:absolute;
  top:41.5%;
  left:16%;
}

.home .home_text1{
  text-decoration:overline;
  position:absolute;
  top:62%;
  left:16%;
}

.home .home_text2{
  position:absolute;
  top:64.5%;
  left:16%;
}
*/

/*
.rocket{
  background-position:50% 0%;
  position:fixed;/*fixed
  top:69%;/*505px 69%
  left:51.9%;/*880px 51.9%
  background-image: url(./star_picture2/star_picture/rocket-07_revise.png);
  background-size: 65%;
  height:8em;
  width:8em;
  background-repeat:no-repeat;
  z-index:2;
}

.rocket_smoke{
  position:fixed;
  top:77%;/*580px
  left:9%;/*355px
  background-image: url(./star_picture2/star_picture/smoke_effect2-07_revise.png);
  background-size: 100%;
  background-repeat:no-repeat;
  height:90em;
  width:90em;
  z-index:1;
}
*/

.rocket{
  background-position:50% 0%;
  position:absolute;/*fixed*/
  top:460px;/*460px*/
  right:-767px;/*-767px*/
  background-image: url(./star_picture2/star_picture/rockets2.png);
  background-size: 65%;
  height:150em;
  width:150em;
  background-repeat:no-repeat;
  z-index:2;
/*transform: rotate(10deg);*/
}

#bottom{
  /*background-position:50% 0%;*/
  position:absolute;/*fixed*/
  top:555px;/*555px 77%*/
  left:50px;/*50px 17.6%*/
  background-image: url(./star_picture2/star_picture/bottom.png);
  background-size: 65%;
  height:120px;/*120px 8em*/
  width:120px;/*120px 8em*/
  background-repeat:no-repeat;
}


.stars{
  position:absolute;
  top:50px;/*50px 8%*/
  left:30px;/*30px 16%*/
  background-image: url(./star_picture2/star_picture/stars.png);
  background-size: 65%;
  height:50em; /*50% 50em*/
  width:50em;/*50% 50em*/
  background-repeat:no-repeat;
/*transform: rotate(10deg);*/
}



/*
.star_type1,.star_type2,.star_type3{
  position:absolute;
  background-image: url(./star_picture2/star_picture/star1.png);
  background-size: 50%;
  height:2.8em; 
  width:2.8em;
  background-repeat:no-repeat;

}
.star_type2{
  background-image: url(./star_picture2/star_picture/star3.png);
  height:0.9em; 
  width:0.9em;
}
.star_type3{
  background-image: url(./star_picture2/star_picture/star5.png);
  height:2.1em; 
  width:2.1em;
}

.star1{
  top:78px;
  left:53px;
}
.star2{
  top:178px;
  left:238px;
}
.star3{
  top:188px;
  left:100px;
}
.star4{
  top:118px;
  left:180px;
}
.star5{
  top:73px;
  left:308px;
}
.star6{
  top:70px;
  left:472px;
}
.star7{
  top:148px;
  left:535px;
}
.star8{
  top:268px;
  left:358px;
}
.star9{
  top:255px;
  left:480px;
}
.star10{
  top:341px;
  left:57px;
}
.star11{
  top:305px;
  left:178px;
}
.star12{
  top:148px;
  left:390px;
}
*/